body{background-color: black; color: blue;}
h1{color: red;}
h2{color: darkorange;}
.aviso{color: blueviolet; font-size: 40px; font-weight: bold; font-style: oblique;}
.aviso2{text-decoration: line-through; font-size: 20px; text-transform: capitalize; text-align: center;}
